<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event Board - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="body-content">
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="background"></div>
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li><div style="height: 30px; margin: 3px;">@Html.ActionLink("Create", "Create", "Event", new { }, new { @class = "btn btn-primary btn-lg" })</div></li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
        @RenderBody()
        
        <footer>
            <p>&copy; @DateTime.Now.Year - Event Board</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/CustomScript")
    @RenderSection("scripts", required: false)


    <script type="text/javascript">
        $(function () { // will trigger when the document is ready
            jQuery('.datepicker').datepicker({ dateFormat: 'yy-mm-dd' }); //Initialise any date pickers
        });
    </script>

</body>
</html>
