@using EventBoard.Presentation.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="row" style="margin-top: 50px;">
    <div class="col-md-12 text-center">
        <h2><b>@ViewBag.Title</b></h2>
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal msform", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <fieldset>
                    <h3  class="fs-title" style="margin-bottom: 33px;">Use your account to log in</h3>

                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                    
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    
                    <input type="submit" value="Log in" class="submit action-button" style="display:block; margin:22px auto 10px auto;" />
                    
                    @Html.LabelFor(m => m.RememberMe, new { @class = "inline-element", style = "display: block;" })
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "inline-element", style = "display: block; float: left;" })

                    <p>
                        @Html.ActionLink("Register as a new user", "Register")
                    </p>
                </fieldset>
                               
                @* Enable this once you have account confirmation enabled for password reset functionality
                    <p>
                        @Html.ActionLink("Forgot your password?", "ForgotPassword")
                    </p>*@
            }
        </section>
    </div>

    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>
    </div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}