@model EventBoard.Presentation.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@*@ViewBag.Title.*@</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal msform", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h2 style="margin-top: -22px; padding-bottom: 33px;">Create a new account.</h2>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @*<form>*@
    <fieldset>
        <h3 class="fs-subtitle">This is step 1</h3>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder="E-mail" })
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder="Password" })
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
        @*<div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>*@
    <fieldset>
        <h2 class="fs-title">Personal Details</h2>
        <h3 class="fs-subtitle">We will never sell it</h3>
        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "First name" })
        @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control", placeholder = "Last name" })
        @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control datepicker", placeholder = "Enter drop-off date here" })
        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", placeholder="Phone number" })
        @Html.DropDownListFor(m => m.Sex,
                new SelectList(Enum.GetNames(typeof(EventBoard.Presentation.Models.Sex))),
                new { @class = "form-control" })
        <input type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
    @*</form>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.SecondName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.SecondName, new { @class = "form-control" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.BirthDate, new { @class = "form-control datepicker", placeholder = "Enter drop-off date here" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
            </div>
        </div>*@
        @*<div class="form-group">
            @Html.LabelFor(m => m.Sex, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Sex,
                new SelectList(Enum.GetNames(typeof(EventBoard.Presentation.Models.Sex))),
                new { @class = "form-control" })
            </div>
        </div>*@
        @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>*@
        }

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
