@model EventBoard.Domain.Models.EventNewViewModel

@{
    ViewBag.Title = "Edit Event";
}
<div class="create-event">
    <h2 style="padding-top: 33px;">@ViewBag.Title</h2>

    @using (Html.BeginForm("EditEvent", "Event", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Fill in and submit this form</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-offset-2 col-md-5">
                <div class="form-group">
                    @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control", @style = "height: 200px;" })
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    @Html.LabelFor(m => m.Category, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Category, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.StartTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.StartTime, new { @Value = Model.StartTime.ToString("yyyy-MM-dd HH:mm"), @class = "form-control datepicker", placeholder = "Enter drop-off date here" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.EndTime, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.EndTime, new { @Value = Model.StartTime.ToString("yyyy-MM-dd HH:mm"), @class = "form-control datepicker", placeholder = "Enter drop-off date here" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Location, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Location, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Suspended, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.CheckBoxFor(m => m.Suspended, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-6 col-md-1">
                <input type="submit" class="btn btn-default" style="margin-top: 36px; margin-left: -66px; width: 122px; padding: 12px 0;" value="Update event" />
            </div>
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}