@model EventFullModel

@{
    ViewBag.Title = Model.Name;
}
<h2>@Model.Name</h2>
<h4>by @Model.Creator.FirstName <b>@Model.Creator.SecondName</b></h4>

<div>
    @Html.ActionLink(@Model.CategoryName, "Category", "Event",
            new { categoryId = @Model.CategoryId },
            new { @class = "btn btn-default navbar-btn" })
</div><br>

<img src="@Url.Content("~/Content/Images/" + Model.Image)" />

<p>Description: @Model.Description</p>

<div>Count of likes: @Model.Likes.Count </div><br>
<div>
    Following users left likes:
    @foreach (var user in Model.Likes.Users)
    {
        <div>@user.FirstName @user.SecondName</div>
    }
</div><br>

@if (@Model.Tags.Count > 0)
{
    <h2>All tags:</h2>
    foreach (var tag in Model.Tags)
    {
        @Html.ActionLink(tag.Name, "Tag", "Event",
                     new { tagId = tag.Id },
                     new { @class = "btn btn-default navbar-btn" })
    }
}

@if (@Model.Comments.Count > 0)
{
    <h3>Comments:</h3>
    <div class="panel-group">
        @foreach (var comment in Model.Comments)
        {
    
            <div class="panel panel-default">
                <div class="panel-heading">@comment.User.FirstName <b>@comment.User.SecondName</b> - @comment.Time.ToLocalTime()</div>
                <div class="panel-body">@comment.Text</div>
            </div>
    
        }
    </div>
}

@Html.ActionLink("Add comment", "AddComment", "Event", new { eventId = Model.Id }, new { @class = "btn btn-default navbar-btn" })
