@using EventBoard.Domain.Models
@model AllEventsModel

@{
    ViewBag.Title = "All Events";
}
<script>
    function filter(element) {
        var value = $(element).val();
        $(".showEvent").each(function () {
            if ($(this).find('h3').text().search(value) > -1 || $(this).find('.showEventDes').text().search(value) > -1) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        });
    }
</script>
<br />
<h2>Event Board</h2>

Categories: @Model.Statistics.TotalCategoryCount <br />
Tags: @Model.Statistics.TotalTagCount <br /> 
Events: @Model.Statistics.TotalEventCount <br />
News: @Model.Statistics.TotalNewsCount <br />

<h3>All categories</h3>
@foreach (var category in Model.Categories)
{
    @Html.ActionLink(category.Name, "Category", "Event",
            new { categoryId = category.Id },
            new { @class = "btn btn-default navbar-btn",
                style = "margin: auto 6px auto auto;"})
}
<div>
    <span>Search by name/description  </span>
    <input type="text" onkeyup="filter(this)" />
</div>
<h3>All tags</h3>
@foreach (var tag in Model.Tags)
{
    @Html.ActionLink(tag.Name, "Tag", "Event",
            new { tagId = tag.Id },
            new { @class = "btn btn-default navbar-btn" })
}

@foreach (var eve in Model.Events)
{
    <div class="showEvent">
    <h3>
        @Html.ActionLink(eve.Name, "Index", "Event",
            new { eventId = eve.Id },
            new { @class = "" })
    </h3>

    @if (eve.Image != null)
    {
    <img src="~/Content/Images/@eve.Image" alt="@eve.Name" />
    }
    <div class="showEventDes">Description: @eve.Description </div>
    <div>Start: @eve.StartDate</div>
    <div>End: @eve.EndDate</div>
    <div>Category: @eve.Category</div>


    <div>Count of likes:  @eve.Likes.Count</div>

    <div>Comments: @eve.Comments.Count</div>
    <div>Last commented: @eve.Comments.LastCommentDate</div>
    </div>
}
