@using EventBoard.Domain.Models
@model AllEventsModel

@{
    ViewBag.Title = "UserEvents";
}
<script>
    function countMaximum() {
        var sum = 0;

        $('.peopleAmount').each(function () {
            if ($(this).text != "" || $(this.text != " ")) {
                console.log($(this)[0].innerHTML);
                sum += +$(this)[0].innerHTML;
            }
        })
        $('#maximumAmount').text(sum);
    }

    function filter(element) {
        var value = $(element).val();
        $(".showEvent").each(function () {
            if ($(this).find('h3').text().search(value) > -1 || $(this).find('.showEventDes').text().search(value) > -1) {
                $(this).show();
            }
            else {
                $(this).hide();
            }
        });
    }
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementByClassName("events")[0].style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementByClassName("events")[0].style.marginLeft = "0";
    }
</script>
<div id="mySidenav" class="sidenav" style="padding-top: 122px;">

    @foreach (var category in Model.Categories)
    {
        @Html.ActionLink(category.Name, "Category", "Event",
            new { categoryId = category.Id },
            new
            {
                @class = "btn btn-default navbar-btn",
                style = "margin: auto 6px auto auto;"
            })
    }
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
</div>
<br />
<div class="events col-md-12">
    <span class="btn btn-primary btn-lg" style="font-size:18px;cursor:pointer; float: right;" onclick="openNav()">&#9776; All categories</span>
    <h1>Events created by @ViewBag.UserName</h1>
    <div class="row top">
        <br />
        <div style="display: inline-block; margin: 0 16px;">Categories: @Model.Statistics.TotalCategoryCount</div>
        <div style="display: inline-block; margin: 0 16px;">Tags: @Model.Statistics.TotalTagCount</div>
        <div style="display: inline-block; margin: 0 16px;">Events: @Model.Statistics.TotalEventCount</div>
        <div style="display: inline-block; margin: 0 16px;">News: @Model.Statistics.TotalNewsCount</div>
    </div>
    <div class="row top">
        <br/>
        <div style="display: inline-block; margin: 0 16px;">This user created @ViewBag.EventsNum events</div>
        <div style="display: inline-block; margin: 0 16px;">This user made @ViewBag.CommentsNum comments</div>
        <div style="display: inline-block; margin: 0 16px;">This user made @ViewBag.LockedCommentsNum comments to locked events</div>
    </div>
    <div class="col-md-offset-3">
        @*<h3 style="margin: 33px 0 22px 262px">All categories</h3>*@
        @foreach (var tag in Model.Tags)
        {
            @Html.ActionLink(tag.Name, "Tag", "Event",
            new { tagId = tag.Id },
            new { @class = "btn btn-default navbar-btn" })
        }

    </div>

    <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 30px">
        <h3 style="display: inline-block; margin-left: 47%;">All tags</h3>
        <div style="display: inline-block; float: right; margin-top: 22px">
            <span>Search by name/description  </span>
            <input type="text" onkeyup="filter(this)" />
        </div>
    </div>
    <div class="row" style="margin-left: 0; margin-right: 0; padding-top: 30px">
        <div style="display: inline-block; float: right; margin-top: 22px">
            <span>Maximum amount of people on all events:  <b><h4 id="maximumAmount"></h4></b><input type="button" onclick="countMaximum()" value="Count" /></span>
        </div>
    </div>


    <div class="col-md-offset-1 col-md-10 background: #e5e5e5;">
        @foreach (var eve in Model.Events)
        {
            <div class="row showEvent col-md-6" style="padding: 12px;">
                <h3 style="text-align: center;">
                    @Html.ActionLink(eve.Name, "Index", "Event",
            new { eventId = eve.Id },
            new { @class = "" })
                    @if (eve.Suspended)
                    {
                        <text> (Locked)</text>
                    }
                </h3>

                @if (eve.Image != null)
                {
                    <img src="~/Content/Images/@eve.Image" alt="@eve.Name" style="width:92%; height: 333px; border-radius: 4px; margin: 0 4%;" />
                }
                <div style="margin: 0 2%; margin-left: 4%; padding-top: 12px;">
                    <div class="showEventDes"><b>Description:</b> @eve.Description </div>
                    <div><b>Autor:</b>@eve.Creator.FirstName @eve.Creator.SecondName </div>
                    <div><b>Start:</b> @eve.StartDate</div>
                    <div><b>End:</b> @eve.EndDate</div>
                    <div><b>Category:</b> @eve.Category</div>
                    <div><b>Count of likes:</b>  @eve.Likes.Count</div>
                    <div><b>Comments:</b> @eve.Comments.Count</div>
                    <div><b>Last commented:</b> @eve.Comments.LastCommentDate</div>
                    <div><b>Maximum amount of people to visit:</b><span class="peopleAmount">@eve.maximumAmount</span></div>
                </div>
            </div>
        }
    </div>
</div>
